.workspace {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.dataSplit {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

@media (max-width: 1024px) {
  .dataSplit {
    grid-template-columns: 1fr;
  }
}