.layout {
  min-height: 100vh;
  background-color: var(--white);
}

.page {
  min-height: 100vh;
  margin-top: 56px;
  margin-left: 64px;
}

.main {
  padding: 24px 16px;
  max-width: 1400px;
  margin: 0 auto;
}