.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--white);
}

.page {
  flex: 1;
  min-width: 0;
  margin-top: 56px;
  /* Use a consistent side padding for all pages */
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}