.container {
  font-family: var(--font-geist-mono), 'Geist Mono', monospace;
  height: calc(100vh - 56px - 3rem);
  width: 100%;
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  overflow: hidden;
  position: relative;
}