.btnPrimary {
  composes: btnPrimary from "../../styles/theme.module.css";
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  height: 32px;
}

.btnPrimary:hover {
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}

.selectContent {
  composes: selectContent from "./Select.module.css";
  right: 0;
  min-width: 170px;
}

.selectItem {
  composes: selectItem from "./Select.module.css";
}

.itemLayout {
  display: flex;
  align-items: center;
  gap: 8px;
}